<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestingGraph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B7E5F11CC54DAC00A8669E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B7E60A1CC54DAC00A8669E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B7E6151CC54DAC00A8669E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
